.authentication__header {
    color: white;
    text-align: center;
}

.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
}

.authentication form {
    margin-bottom: 1rem;
}
.signup a {
    margin: 2rem 2rem 0 0;
}

.margin {
    margin: 500px;
}
